#shortInfo {
	display: none;
	text-align: center;
	background-color: rgba(35, 55, 75, 0.9);
	color: #ffffff;
	font-family: monospace;
	z-index: 1000;
	position: absolute;
	border-radius: 8px;
	max-width: 360px;
	max-height: calc(100% - 50px);
	top: 0;
	left: 0;
	margin: 18px;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: auto; /* Add vertical scrollbar */
}
.sidebar .title {
	text-align: center;
	padding: 18px 12px 5px 12px;
	font-size: 21px;
	font-weight: bold;
}

.sidebar .status {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 2px;
}

.sidebar .info {
  padding: 0 18px;
}

.sidebar .info p {
	margin: 15px 0;
	font-size: 16px;
	text-align: left;
}

.sidebar .btn {
	width: 80%;
	font-weight: bold;
	font-size : 18px;
	background-color : Cornsilk;
	padding: 5px;
	border-radius : 18px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
}

.sidebar .info .btn:active {
  background-color: LightSteelBlue;
}
  
@media only screen and (max-width: 420px) {
	#shortInfo {
		margin: 4px;
		width: 100%;
		max-width: calc(100% - 8px);
	}
}
