/* The Modal (background) */
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    /*background-color: lavender;*/
    color: white;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    text-align: center;
    white-space:normal;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform:translate(-50%,-60%);
    -ms-transform:translate(-50%,-60%);
    -o-transform:translate(-50%,-60%);
    -webkit-transform:translate(-50%,-60%);
    transform:translate(-50%,-60%);
    border-radius: 18px;
    border: none;
  }
  .modal-content h1 {
	font-size: 3.5em;
	text-decoration: underline;
	color: khaki;
  }
  .modal-content h2 {
	font-size: 2.5em;
  }
  .modal-content h3 {
	font-size: 2em;
  }
  .modal-content button {
	font-size: 2em;
	padding: 6px 42px;  
	border-radius: 12px;
	border: none;
	background-color: DarkMagenta;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-top: 30px;
  }

  /* The Close Button 
  .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }*/

  .modal-close:hover,
  .modal-close:focus {
    color: khaki;
    text-decoration: none;
    cursor: pointer;
  } 
