#legend {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  font-family: monospace;
  z-index: 1000;
  position: absolute;
  border-radius: 8px;
  max-width: 360px;
  max-height: calc(100% - 50px);
  padding: 12px;
  padding-left: 4px;
  text-align: center;
  bottom: 25px;
  left: 0;
  margin: 8px;
}

#legend .manImg {
	height: 21px;
	vertical-align: middle;
}

@media only screen and (max-width: 420px) {
	#legend {
		margin: 4px;
	}
}
